.header {
	background: black;
	color: white;
	font-size: 2.8em;
	line-height: 25pt;
	text-align: center;
	font-weight: bold;
}

.subTitle {
	background: black;
	color: white;
	font-size: 14pt;
	text-align: center;
	font-weight: bold;
}

.releaseInfo {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.logo {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.rhedcloudLogo {
	background: #232f3e;
	color: #fff;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
	padding-bottom: 2px;
	padding-top: 4px;
}

.linksPanel {
	padding: 10px;
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.products {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.systemStatusLink {
	/*background: #232f3e;*/
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 12px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.systemStatusLink:hover {
	color: orange;
}

.linksMenu {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	padding-left: 25px;
}

.linksMenuHeader {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.linksMenuHeader:hover {
	/*color: orange;*/
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
	background: #b0c4de;
}

.linksMenuItem {
	background: #fff;
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.linksMenuItemUnFollowable {
	background: #fff;
	font-size: 14px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.linksMenuItem:hover {
	/*color: orange !important;*/
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
	background: #b0c4de;
}

.productAnchor {
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.productAnchor:hover {
	color: orange;
}

.productsMenuHeader {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 15px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.productsMenuHeader:hover {
	color: orange;
}

.featuresMenuHeader {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	padding-right: 15px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.featuresMenuHeader:hover {
	color: orange;
}

.menuItemSeparator {
	width: 1px;
		height: 1px;
		background: white;
}

a {
	background: #fff;
	color: #232f3e;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a:hover {
	background: #b0c4de;
}

a:active {
	background: #b0c4de;
}

.notifications {
	background: #3367d6;
	color: white;
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.deckPanel {
	color: black;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border-style: solid;
}
.content {
	color: black;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border-style: solid;
}
/*
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
*/
.awsButton {
	border: 1px solid;
	border-color: #b2babb;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	text-shadow: hsla(0,0%100%.0 0 1px 0;
	background: #3367d6;
	/*background-image: linear-gradient(180deg,#fee6b0 0,#eeba37);*/
	font-family: Helvetica Neue Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
	min-width: 105px;
	display: inline-block;
	height: 35px;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6);
	color: #fff;
}
.awsButton:hover {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
	background: #b0c4de;
}

.linksPanelLink {
	padding-left: 25px;
}
.linksPanelLink:hover {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
	background: #b0c4de;
}
.editorialImageCell {
	color: grey;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border-style: solid;
	box-sizing: border-box;
	width: 150px;
}
.editorialImageCell:hover {
	border-color: #be952c #a68226 #9b7924;
	box-shadow: #e6e6e6 2px 2px 3px;
	cursor: pointer;
}
.h1 {
	font-size: 2.4em;
	color: #e47911;
	font-weight: 300;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	text-align: center;
	line-height: 1.7em;
	
}
.servicesGrid {
	vertical-align: top;
}
.servicesCellPanel {
	border-right-style: none;
	padding: 10px;
	width: 350px;
}
.servicesCellPanel > span {
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 10px;
    spacing: 8px;
}
.servicesCellHeading {
	font-size: 1.5em;
	color: #e47911;
	font-weight: 300;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	padding: 10px;
	border-style: ridge;
	border-width: 1px;
}
.servicesCellHeading:hover {
	border-color: #be952c #a68226 #9b7924;
	box-shadow: #e6e6e6 2px 2px 3px;
	cursor: pointer;
}
.servicesCellContent {
	width: 100%;
	font-size: 14px;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	padding: 10px;
	vertical-align: top;
}
.editorialImageCell {
	color: grey;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border: 2px solid grey;
	width: 250px;
}
.editorialImageCell:hover {
	border-color: #be952c #a68226 #9b7924;
	box-shadow: #e6e6e6 2px 2px 3px;
	cursor: pointer;
}
.editorialContent {
	font-size: 1.5em;
	color: #e47911;
	font-weight: 300;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.editorialContent:hover {
	border-color: #be952c #a68226 #9b7924;
	box-shadow: #e6e6e6 2px 2px 3px;
	cursor: pointer;
}
.copyright {
	font-size: 1.0em;
	color: #002878;
	font-weight: 350;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height: .75em;
	padding: 10px;
	text-align: center;
}
.carouselControl {
	background-image: linear-gradient(to right,rgba(0,40,120,1) 0,rgba(0,40,120,.005) 100%) !important;
	background-repeat: repeat-x;
}
.carouselPanel {
	cursor: pointer;
}
.carouselHeading {
	font-size: 2.5em;
	color: #002878;
	font: Syntax Bold;
	letter-spacing: 8px;
	/*
	font-weight: 300;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	*/
	text-align: center;
	line-height: 2.0em;
	cursor: pointer;
}
.carouselHeading2 {
	font-size: 2.3em;
	color: #FFFFFF;
	font: Syntax Bold;
	letter-spacing: 8px;
	text-align: center;
	line-height: 2.0em;
	cursor: pointer;
}
.carouselImage {
	cursor: pointer;
}
.column {
    margin-bottom: 10px;
}

.column > span {
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 10px;
    text-align: center;
}
.overflowPanel {
	overflow-x: auto;
}
.releaseInfoPanel {
	padding-top: 10px;
	cursor: default;
}

.productsMenuHeader {
	/*background: #232f3e;*/
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	padding-right: 15px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.productsMenuHeader:hover {
	color: orange;
}
.hamburgerMenu {
  cursor: pointer;
}
.hamburgerMenu:hover {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
	background: #b0c4de;
}
.rhedcloudLogo {
	background: #3367d6;
	color: #fff;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	cursor: pointer;
	padding-bottom: 2px;
	padding-top: 4px;
}
